NEXT_PUBLIC_API_BASE=http://localhost:5000
SERPAPI_KEY=53f09a8dc7f23604987cff6164c2ca92338bc913d64fb23265605dce76ad4a19
NEXT_PUBLIC_GEMINI_API_KEY=your_gemini_api_key_here

NEXT_PUBLIC_VAPI_PUBLIC_KEY=your_vapi_public_key_here
NEXT_PUBLIC_VAPI_ASSISTANT_ID=your_vapi_assistant_id_here